<div class='main'>
  <%# 作品一覧 %>
  <div class='creation-contents'>
    <h2 class='title'>作品一覧</h2>

    <ul class='creation-lists'>
      <% @creations.each do |creation| %>
      <li class='lists'>
        <%= link_to "/" do %>
        <div class='creation-img-content'> 
          <%= image_tag creation.image, class: "creation-img" %> 
        </div>
        <div class='creation-info'>
          <h3 class='creation-name'> 
            <%= creation.title %> 
          </h3> 
        </div>
        <% end %> 
       </li> 
      <% end %>
    </ul>
  </div>  
  <%# 作品一覧 %>
</div>
