.creation__group {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.creation__text {
  margin-top: 10px;
  font-size: 16px;
  height: 40px;
}

.creation__category {
  height: 30px;
  margin-top: 10px;
}

.creation__image {
  margin-top: 10px;
}

.creation__description {
  margin-top: 10px;
}

.creation__trigger {
  margin-top: 10px;
}

.save__btn__contents {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.save__btn {
  color: white;
  background-color: red;
  border: 1px solid red;
  margin-right: 2vw;
  padding: 10px 20px;
}

.back__btn {
  color: white;
  background-color: gray;
  border: 1px solid gray;
  padding: 10px 20px;
}

