/* 作品一覧 */

.creation-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.creation-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.creation-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creation-lists>.lists {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.creation-img-content {
  position: relative;
}

.creation-img {
  width: 33vh;
  height: 33vh;
}

.creation-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.creation-name {
  font-size: 2.5vh;
}
