.creation__manage {
  display: flex;
  justify-content: center;
}
.edit__btn {
  background-color: red;
  color: white;
  border: 1px solid red;
  margin-right: 2vw;
  padding: 10px 20px;
}

.edit__btn:hover {
  opacity: 0.6;
}

.delete__btn {
  background-color: gray;
  color: white;
  border: 1px solid gray;
  padding: 10px 20px;
}

.delete__btn:hover {
  opacity: 0.6;
}

.creation__hedding {
  font-size: 20px;
}

.creation__image {
  display: flex;
  justify-content: center;
}

.creation__image__form {
  width: 500px;
}

.creation__detail {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.creation__main {
  display: flex;
  justify-content: center;
}

.detail__message {
  font-size: 20px;
}

.creation__comment__group {
  display: flex;
  justify-content: center ;
  text-align: left;
}

.creation__comment {
  padding: 40px 80px;
  margin-top: 40px;
}

.send__btn__contents {
  display: flex;
  justify-content: center;
}

.send__btn {
  color: white;
  background-color: royalblue;
  border: 1px solid royalblue;
  margin: 10px 0px;
  padding: 10px 20px;
}
