.registrations__main {
  display: flex;
  justify-content: center;
 }

.form__header__text {
 text-align: center;
}

.form__group {
  padding-top: 20px;
}

 .input__default {
   margin-top: 5px;
   font-size: 16px;
   height: 40px;
 }

 .register__btn {
   width: 50%;
   margin: 20px auto;
 }

 .register__red__btn {
   background-color: red;
   border: 1px solid red;
   color: white;
   width: 100%;
   line-height: 48px;
 }

 .register__red__btn:hover {
   opacity: 0.6;
 }